  <div class="text-center">
      <h4>Booking for flight from <%= flight.departure_airport.code %> to <%= flight.arrival_airport.code %> </h4>
      <h6 class="fw-light"><%= flight.departure_date %> | <%= flight.departure_hour %> - <%= flight.arrival_hour %></h6>
  </div>
