<div class="booking-card p-3 my-2 card mx-auto mt-5">
  <% if params[:flight_id] %>
    <% booked_flight = Flight.find(params[:flight_id]) %>
    <div class="text-center">
      <h4>Booking for flight from <%= booked_flight.departure_airport.code %> to <%= booked_flight.arrival_airport.code %> </h4>
      <h6 class="fw-light"><%= booked_flight.departure_date %> | <%= booked_flight.departure_hour %> - <%= booked_flight.arrival_hour %></h6>
    </div>
  <% end %>

  <%= form_with model: @booking, class: "d-flex flex-column" do |booking_form| %>
    <%= booking_form.hidden_field :flight_id, value: params[:flight_id] %>
    <% params[:ticket_num].to_i.times do |i| %>
      <div class="m-2 fw-bold">
        <%= "Passenger #{i+1}" %>
        <%= booking_form.fields_for :passengers, @booking.passengers.build do |passenger_form| %>
          <%= passenger_form.text_field :name, placeholder: "Name", class: "form-control my-3" %>
          <%= passenger_form.email_field :email, placeholder: "Email", class: "form-control my-3" %>
        <% end %>
      </div>
    <% end %>
    <%= booking_form.submit "Confirm booking", class: "btn btn-success ml-1 flex-basis-1 m-2" %>
  <% end %>
</div>